{% extends 'base.html.twig' %}
{% block title %}
	mobile guy
{% endblock %}
{% block body %}
	<!--bandeau publicitaire-->

	<img src="http://lorempixel.com/1900/300/technics/PUB" alt="pub" class="responsive-media"></div>


<!-- new Products-->
<h2 class="txt-center bg-cyan1 txt-prune">
	nos nouveautés
</h2>
<div class="caroulix p-5" id="caroulixNew" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true" data-caroulix-indicators-enabled="true">
	<div class="caroulix-arrow caroulix-prev">
		<i class="fas fa-chevron-left"></i>
	</div>
	<div class="caroulix-arrow caroulix-next">
		<i class="fas fa-chevron-right"></i>
	</div>
	{% for i in 0..products|length %}
		{% if i is divisible by(5) %}
			<div class="grix xs5  caroulix-item">
				{% for z in i..i+4 %}
					{% if z<products|length %}
						{% include 'products/card.html.twig' with {'product':products[z]} %}


					{% endif %}

				{% endfor %}

			</div>
		{% endif %}
	{% endfor %}
</div>{% endblock %}
